body{
    animation: myFirst 5s infinite;
    animation-direction: alternate;
}
@keyframes myFirst{
    0%{background: linear-gradient(45deg, #93a5cf 0%, #e4efe9 100%);}
    25%{background: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);}
    50%{background: linear-gradient(135deg, #dfe9f3 0%, white 100%);}
    100%{background: linear-gradient(-225deg,#f5f7fa 0%, #c3cfe2 100%);}
}
